{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block content %}
{% if articles_page.object_list %}
	<div class="catalogue">
		{% for article in articles_page.object_list %}
			{{ macros.article_summary(article=article) }}
		{% endfor %}
	</div>
	<div class="pagination">
		{% if articles_page.has_previous() %}
			<a href="{{ SITEURL }}/{{ articles_page.previous_page_number() }}.html" class="left arrow">&#8592;</a>
		{% endif %}
		{% if articles_page.has_previous() or articles_page.has_next() %}
			<span>{{ articles_page.number }}</span>
		{% endif %}
		{% if articles_page.has_next() %}
			<a href="{{ SITEURL }}/{{ articles_page.next_page_number() }}.html" class="right arrow">&#8594;</a>
		{% endif %}
	</div>
{% endif %}
{% endblock content %}
